body {
	background-color: #eaeaeb;
}

#header {
	text-align: center;
	color: #384e78;
	font-size: 48px;
	font-family: Times New Roman;
}

p {
	font-family: Times New Roman;
	color: #6c6c6c;
}

h3 {
	color: #384e78;
}

header {
	text-align: center;
	color: #384e78;
	font-size: 48px;
	font-family: Times New Roman;
}

h4 {
	color: #1a6d7d;
}

ul {
	color: #6c6c6c;
}
