body {
	background-color: #262626;
}

#header {
	text-align: center;
	color: #9ba9d0;
	font-size: 48px;
	font-family: Times New Roman;
}

p {
	font-family: Times New Roman;
	color: #5f62c1;
}

h3 {
	color: #9ba9d0;
}

header {
	text-align: center;
	color: #9ba9d0;
	font-size: 48px;
	font-family: Times New Roman;
}

h4 {
	color: #808080;
}

ul {
	color: #5f62c1;
}
